.about {
    .about-container {
        padding: 80px 40px 100px 222px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        :first-child{
            padding-right: 11.8%;
        }
        .about-block {
            max-width: 42%;
            :not(:first-child){
                margin-top: 24px;
            }
            .about-title {
                margin: 16px 0px 0px;
                font-size: 35px;
                color: $color-dark-l;
                line-height: 45.5px;
                font-weight: 400;
                letter-spacing: 2px;
            }
            .about-content {
                font-family: Arial, sans-serif;
                font-size: 15px;
                color: $color-dark-xl;
                line-height: 160%;
                font-weight: 400;
            }
        }
    }
}



